<%- include("Includes/head.ejs"); %>
<body>

    <h3> NO SUCH ACCOUNTS EXISTS . SEARCH ONLY <I>CATS</I> AND <I>DOGS</I></h3>
</br>
</br>
    <%- include("Includes/footer.ejs"); %>
    
</body>
</html>