<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= 1+2  %></h3>
    <h2> <%= ['Hello','ram'][1] %></h2>
    <h1> <%= "AppnaCollege".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda eligendi consequatur quo placeat reiciendis suscipit ea harum quas! Beatae error labore optio tenetur quae corrupti reprehenderit soluta sapiente facilis modi!</p>

    <button>Submit</button>
    
</body>
</html>